<div>
  <button pButton type="button" label="Dashboard" routerLink="/" routerLinkActive="p-disabled" [routerLinkActiveOptions]="{exact: true}"></button>
  <button pButton type="button" label="Login" routerLink="login" routerLinkActive="p-disabled"></button>
  <button pButton type="button" label="Users" routerLink="users" routerLinkActive="p-disabled"></button>
  <button pButton type="button" label="Profile" routerLink="profile" routerLinkActive="p-disabled"></button>
</div>
<router-outlet></router-outlet>
